
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap');

.booksection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  margin: 1.5rem auto 1rem auto;
  background-color: #fff;
  width: 90%;
  border-radius: 2px;
}

.bookdetails {
  margin: 0;
  padding: 0;
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0.5rem 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  width: 20.313rem;
  height: 1.813rem;
  margin: 0.188rem 10.188rem 0.5rem 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  width: 12.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookbtn {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  color: #4386bf;
  height: 1.188rem;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.middle {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  padding-left: 1rem;
  padding-right: 1rem;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.complete {
  color: #807d7d;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.currentchapter {
  font-family: 'Roboto Slab', serif;
  color: #807d7d;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.chapter {
  color: #121212;
  height: 1.313rem;
  margin-bottom: 1rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}

.updateBtn {
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  border: none;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.oval {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 2%;
  margin-right: 6%;
  background-image:
    radial-gradient(closest-side, white 79%, transparent 80%),
    conic-gradient(from 0deg at center, #307bbe 64%, #e8e8e8 0%);
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 30%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
